@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<EmprestimoDTO>
@inject IViewLocalizer localizer
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>@localizer["title"]</h1>
        <a class="btn btn-success mx-2" asp-controller="Emprestimo" asp-action="Exportar"><i class="bi bi-file-earmark-plus mx-2"></i>@localizer["export"]</a>
        <a class="btn btn-success mx-2" asp-controller="Emprestimo" asp-action="Cadastrar"><i class="bi bi-file-earmark-plus mx-2"></i>@localizer["registerNew"]</a>
    </div>
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success text-light" role="alert">@TempData["MensagemSucesso"]</div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger text-light" role="alert">@TempData["MensagemErro"]</div>
    }
    <table id="Emprestimos" class="table table-light table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">@localizer["receiver"]</th>
                <th scope="col">@localizer["supplier"]</th>
                <th scope="col">@localizer["book"]</th>
                <th scope="col">@localizer["lastUpdate"]</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var emprestimo in Model)
                {
                    <tr>
                        <th scope="row">@emprestimo.Recebedor</th>
                        <td>@emprestimo.Fornecedor</td>
                        <td>@emprestimo.LivroEmprestado</td>
                        <td>@emprestimo.DataUltimaAtualizacao</td>
                        <td>
                            <a asp-controller="Emprestimo" asp-action="Editar" 
                                asp-route-id="@emprestimo.Id"
                               class="btn btn-warning mx-2"> <i class="bi bi-pencil-square mx-2"></i>@localizer["edit"]</a>
                            <a asp-controller="Emprestimo" asp-action="Excluir" asp-route-id="@emprestimo.Id" class="btn btn-danger mx-2"><i class="bi bi-trash-fill mx-2"></i>@localizer["delete"]</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
